@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2; /* 19.2px */
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  padding-bottom: 100px;

}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
}

.menu__btn {
  padding: 15px 58px;
  border-radius: 30px;
  background-color: #000;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.header__content-images {
  text-align: center;
  padding-bottom: 50px;
}

.header__content-images::before {
  content: '';
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, #F3D6D1 0%, rgba(235, 235, 235, 0.00) 100%);
  z-index: -2;
}


.title {
  font-size: 210px;
  font-weight: 700;
  position: absolute;
  padding-top: 110px;
}

.title--pod {
  position: relative;
  z-index: -1;
}

.title--s {
  display: inline-block;
  transform: translateY(60px);
}

.title--m {
  display: inline-block;
  transform: translate(-57px,275px);
}

.title--ax {
  display: inline-block;
  position: relative;
  transform: translate(-132px,407px);
  z-index: -1;
}

